.inputs{
    display: flex;
    flex-direction: column;
}

.inputs h1{
    text-align: center;
}

.input-fields{
    margin: 20px !important;
    width: 200px !important;
}

.image{
    width: 400px;
    height: 400px;
    margin-right: 80px;
}
.content{
    margin: 50px;
    display: flex;
    justify-content: space-around;   
}

.quiz-setting{
    font-size: 1.5rem;
    color: rgba(34, 34, 240, 0.932);
}